#programmer-1 {
    display: block;
}

#programmer-2 {
    display: block;
}

#programmer-3 {
    display: block;
}

#programmer-4 {
    display: block;
}

#programmer-5 {
    display: block;
}

#programmer-6 {
    display: block;
}

#network-1 {
    display: block;
}

#network-2 {
    display: block;
}

#analyst-1 {
    display: block;
}

#analyst-2 {
    display: block;
}

#dataScience-1 {
    display: block;
}

#dataScience-2 {
    display: block;
}