#programmer-1 {
    display: block;
}

#programmer-2 {
    display: block;
}

#programmer-3 {
    display: block;
}

#network-1 {
    display: block;
}

#analyst-1 {
    display: block;
}

#dataScience-1 {
    display: block;
}