html{
    scroll-behavior: smooth;
}

/* background */
.bg {
    background-color: yellow;
    background-image: url("../img/Lets_go_travel_Banner.jpg");
}

/* text dan font */
a {
    text-align: center;
    text-decoration: none;
    line-height: 200%;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    
}

/* box model */
#par {
    background-color: lightgrey;
    width: 300px;
    border: 10px solid lightgreen;
    padding: 50px;
    margin: 20px;
}
/* position dan display */
.post {
    position: relative;
    float: right;
    display: inline;
    color: red;
}
/* navigation dan list */
nav ul{
    list-style: unset;
    background-color: grey;
}

nav ul li {
    display: inline-block;
    font-weight: bold;
    color: white;
}

nav ul li a{
    display: inline-block;
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin-left: 900px;
    margin-right: 10px;
}